binds {
    Alt+Print { spawn-sh "dms screenshot --stdout | swappy -f -"; }
    Alt+space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight-bar" "toggle"; }
    Ctrl+Shift+Escape hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "toggle"; }
    Mod+Alt+H { spawn-sh "dms ipc call mpris previous"; }
    Mod+Alt+J { spawn-sh "dms ipc call mpris playPause"; }
    Mod+Alt+K { spawn-sh "dms ipc call mpris pause"; }
    Mod+Alt+L { spawn-sh "dms ipc call mpris next"; }
    Mod+Alt+Semicolon { spawn-sh "dms ipc call screenRecorder toggleRecording"; }
    Mod+Backspace hotkey-overlay-title="Power Menu" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "toggle"; }
    Mod+Ctrl+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+M hotkey-overlay-title="Control Center" { spawn "dms" "ipc" "call" "control-center" "toggle"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Shift+C { spawn-sh "dms color pick --hex -a -o '{0}{1}{2}'"; }
    Mod+Shift+N allow-when-locked=true { spawn "dms" "ipc" "call" "night" "toggle"; }
    Mod+Shift+T repeat=false hotkey-overlay-title="Cheatsheet: tmux" { spawn "sh" "-c" "dms ipc call keybinds toggle tmux"; }
    Mod+Space hotkey-overlay-title="Default Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+V hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
}
