/* https://niri-wm.github.io/niri/Configuration%3A-Layout.html */
layout {
    gaps 2
    background-color "transparent"

    // always never on-overflow
    center-focused-column "on-overflow"
    always-center-single-column
    preset-column-widths {
        proportion 0.3333
        proportion 0.5
        proportion 1.0
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        // off
        width 2
        active-color "#C6A0F6"
        inactive-color "#505050"
    }

    border {
        off
    }

    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }

    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 5
        width 5
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        active-color "#ed8796"
        inactive-color "#6e738d"
        urgent-color "blue"
    }
}

