/* https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html */
binds {
  /* ----------- PERSONAL ----------- */
  /* CUSTOM */
  Mod+Shift+S { spawn-sh "imv ~/Pictures/Skul/sched.png"; }
  Mod+Alt+F { maximize-window-to-edges; }
  Ctrl+Shift+Alt+M { spawn-sh "equibop --toggle-mic"; }

  /* TERMINAL */
  Mod+Shift+Return repeat=false {
    spawn-sh "niri_spawnjump.py 'alacritty --class float' float -t scratch";
  }
  Mod+Return { spawn "alacritty"; }

  Mod+Y { spawn-sh "alacritty -e yazi"; }

  /* APPS */
  Mod+E { spawn "nautilus"; }

  /* :PEAK: */
  Mod+P { spawn-sh "niri_peekaboo.py"; }

  /* ----------- NIRI ----------- */

  /* ESSENTIALS */
  Mod+Q { close-window; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { spawn-sh "grim -g \"$(slurp)\" - | satty -f -"; }

  Mod+Tab repeat=false { toggle-overview; }
  Mod+O repeat=false { toggle-overview; }

  Mod+W       { toggle-window-floating; }
  // Mod+S { toggle-column-tabbed-display; }
  Mod+bracketleft  { consume-or-expel-window-left; }
  Mod+bracketright { consume-or-expel-window-right; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }

  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }

  Mod+Shift+O { toggle-window-rule-opacity; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Ctrl+Alt+Delete { quit; }

  /* NAVIGATION */
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-or-workspace-down; }
  Mod+Up    { focus-window-or-workspace-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-or-workspace-down; }
  Mod+K     { focus-window-or-workspace-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+H { move-column-left; }
  Mod+Shift+K { move-window-to-workspace-up; }
  Mod+Shift+J { move-window-to-workspace-down; }
  Mod+Shift+L { move-column-right; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }
}
