/* https://niri-wm.github.io/niri/Configuration%3A-Named-Workspaces.html */
/* ----------- NAMED WORKSPACES ----------- */
workspace "scratch"
workspace "scratchpad"
workspace "main"
workspace "socials"

