spawn-at-startup "noctalia"

include "./noctalia/binds.kdl"
include "./noctalia/defaults.kdl"

// Place the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

// Set transparent workspace background color so the backdrop is visible at all times.
layout {
  background-color "transparent"
}

// Optionally, disable workspace shadows in the overview.
overview {
  workspace-shadow {
    off
  }
}

switch-events {
    lid-close { spawn "noctalia" "msg" "session" "lock-and-suspend"; }
}
